/* apply-all-body */

*{
    margin: 0;
    padding: 0;
}
.open-sans{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* for all button */
.btn-primary{
    color: #FFFFFF;
    background-color: #FD6E0A;
    border: none;
    border-radius: 2px;
    padding: 7px 10px;
    font-weight:600px;
    font-size: 8px;
}
.secoundary-bg{
    background-color: #FFF8F3;
    
}
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left center, right bottom;
    background-size: 50px, 400px 250px;
    background-position-y: center, auto;
    
}


/* navbar design */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 80px 95px;
    
}

nav ul{
    display: flex;
    align-items: center;
    gap: 20px;

}

nav ul li{
list-style: none;
display: inline;

}
nav ul li a{
    text-decoration: none;
    
}

.dark-2{
    color: #474747;
    font-size: 10px;
    font-weight: 300px;
}
/* navbar design end */

/* banner design start */
.banner-pic{
    width: 300px;
    /* height: 360px; */
}
.banner-content{
    display: flex;
   justify-content: space-between;
   margin: 0 22px 0 80px;
   gap: 125px;
}
.banner-description{
    color: #757575;
    font-size: 9px;
    font-weight: 300px;
    
}
/* banner design end */
/* main about section start */
.about-items{
    display: flex;
    justify-content: space-around;
}
.about{
  text-align: center;
  /* margin-top: 50px; */
  padding: 60px 70px;
  margin: 50px 70px 70px 60px;
}
/* main about section end */
/* main skill sectin start */
.skills-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;

}
.skill-details{
    text-align: center;
    padding: 0 60px 30px;
}
.skill{
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.06);
}
.skills{
    margin: 70px;

}
/* main skill sectin end */








/* resume section style start*/
.resume-container{
    display: flex;
    gap: 15px;
}
.section-title{
    text-align: center;
}